---
layout: page
title: Novidades
---

<div class="container-landing round-corner">
  <div class="content-landing--news">
    <ul class="content-landing-news flex-content">
      {% for post in site.posts limit:3 %}
        <li class="content-landing-news-item flex-item">
          <a class="content-landing-news-item-title image-zoom" href="{{site.baseurl}}{{post.url}}">
            {% if post.image %}
              <img class="content-landing-news-item-thumb" src="{{site.baseurl}}{{post.image}}" alt="">
            {% else %}
              <img class="content-landing-news-item-thumb" src="{{site.baseurl}}/img/bg-brasao.png" alt="">
            {% endif %}
            {{post.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="simple-section">
    <h3 class="white-headline">Apaixonados por Mangalarga</h3>
    <img src="{{site.baseurl}}/img/mangalarga-fotos-home.png" alt="">
    <div class="content-center">
      <a class="btn" href="/fotos">
        Veja mais fotos
      </a>
    </div>
  </div>

  <div class="container-flex">
    <div class="container-flex-content container-flex-content--facebook">
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-page" data-href="https://www.facebook.com/mangalargars" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/mangalargars" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/mangalargars">Mangalarga - RS</a></blockquote></div>
    </div>
    <div class="container-flex-content">
      <div class="content-inside-box content-inside-subscribe">
        <h3>Associa-se ao Núcleo</h3>
        <p class="content-inside-box-padding-left-right">
          O Núcleo Riograndense dos Criadores de Cavalos da Raça Mangalarga (NRCCRM) convida você e sua família à associar-se para compartilhar de momentos memoráveis e desfrutar da cultura regional gaúcha e do nosso cavalo de sela brasileiro.
        </p>
        <p>&nbsp;</p>
        <p>
          <a class="btn" href="https://docs.google.com/forms/d/e/1FAIpQLSeeGnBk4KiA1hf9A7O7eqZ0nBTXQdjObZuoLXtTJeC__VmLCg/viewform?usp=sf_link" target="_blank">
            Clique aqui para associar-se
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
