<header class="site-header header-pages" role="banner">
  <div class="header-pages-content">
    <div class="mobile-navegation">
      <a href="/" class="mobile-navegation-logo logo"></a>
      <a href="#" class="icon icon-hamburguer-menu"></a>
    </div>
    <div class="header-navegation navegation-landing">
      <a href="/" class="header-logo logo"></a>
      <div class="navegation-link-content">
        <a class="navegation-link" href="/sobre">Sobre</a>
        <a class="navegation-link" href="/ficcao">Ficção</a>
        <a class="navegation-link" href="/literatura-infantil">Literatura Infantil</a>
        <a class="navegation-link" href="/blog">Blog</a>
        <a class="btn btn-white btn-white-landing" href="/literatura-infantil">Comprar</a>
      </div>
    </div>
    <div class="header-pages-title">
      <h1>{{page.title}}</h1>
    </div>
  </div>
</header>
