<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1">
  <title>{{site.title}}</title>
  <meta name="description" content="Núcleo Riograndense de Criadores de Cavalo da Raça Mangalarga">
  {% if page.metatags %}
    <meta name="robots" content="{{page.metatags}}">
  {% endif %}
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link rel="icon" href="{{site.baseurl}}/img/favico.png" type="image/png">
  <link rel="canonical" href="http://nucleomangalargars.com.br/">
  <link rel="alternate" type="application/rss+xml" title="Núcleo Riograndense de Criadores de Cavalo da Raça Mangalarga" href="/feed.xml">
</head>
