*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
img { width: 100%; }
figure, time { margin:0; padding:0; }
a {
  color: #20AD65;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: .8em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
.desktop { display: none; }
html, body {
  height: 100%;
  margin: 0;
}
body {
  background: url("{{site.baseurl}}/img/bg.jpg");
  background-size: 100%;
  background-size: cover;
  position: relative;
  width: 100%;
}
/* Helpers */
.current-year { display: inline-block; }
.content-center {
  text-align: center;
  margin: 50px;
}

/* Flag 30 anos*/
.flag-comemoracao {
  background: url("{{site.baseurl}}/img/flag-comemoracao.png");
  background: url("{{site.baseurl}}/img/flag-comemoracao.svg");
  background-size: 100%;
  position: absolute;
  top: -70px;
  right: 20px;
  width: 329px;
  height: 66px;
  z-index: 20;
}

/* Modules */
.quotes {
  font-size: 42px;
  color: #999;
  line-height: 1.2;
}
.quotes::after,
.quotes::before {
  content: " '' ";
  margin: -30px -40px;
  font-family: "Palatino Linotype", serif;
  position: absolute;
  font-size: 82px;
}
.quotes::after {
  margin: -10px 10px;
}
/* image zoom*/
.image-zoom {
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
          transition: all 0.3s;
}
.image-zoom:hover {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
          transform: scale(1.1);
}

.round-corner {
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

/* flex module*/
.flex-content-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.flex-item-row {
  padding: 10px;
}
.flex-content  {
  width: 100%;
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
 }
.flex-item {
  width: 100%;
  flex-grow: 1;
}

.flex-item-22 {
  width: 22%;
}
.flex-item-33 {
  width: 33%;
}
.flex-item-50 {
  width: 50%;
}

fieldset.info-box {
  background: #F9F7E8;
  border: 2px solid #D3CFB4;
  color: #B2AE8F;
}
.info-box legend {
  background: #F9F7E8;
  font-weight: bold;
  padding: 0.2em 0.5em;
  border:2px solid #D3CFB4;
  color:#B2AE8F;
}

.hr-content-divisor {
  border: 0;
  border-bottom: 1px solid #211B1B;
  display: block;
  margin: 60px 0;
}

.bg-brasao {
  background: url("{{site.baseurl}}/img/bg-brasao.png") no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0px;
  right: 0;
  width: 626px;
  height: 712px;
  z-index: 0;
  opacity: 0.2;
}
.bg-horse {
  background: url("{{site.baseurl}}/img/bg-horse.png") no-repeat;
  background-size: 100%;
  position: absolute;
  right: 0;
  width: 626px;
  height: 712px;
  z-index: 0;
  opacity: 0.2;
}
.bg-horse-top{
    top: 0px;
}
.bg-horse-bottom {
    bottom: 0px;
}

/* #Navegation*/
.header-navegation {
  padding: 0 20px;
  position: relative;
  z-index: 100;
}
.navegation-link-content {
  max-width: 1024px;
  background: #D3CFB4;
  padding: 10px;
  margin: 0 auto;
  display: none;
}
.navegation-link {
  font-size: 1em;
  padding: 10px 10px;
  text-decoration: none;
  color: #444;
  display: block;
  text-align: center;
}
.icon-hamburguer-menu {
  background: #D2CEB3;
  padding: 3px 0 0 6px;
  font-weight: bold;
  text-transform: uppercase;
  color: #211B1B;
  text-decoration: none;
  background-position: 0 -73px;
  z-index: 10;
  width: 50px;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 15px;
}


/* #Images */
.logo {
  background: url("{{site.baseurl}}/img/logo.png") no-repeat;
  background-size: 100%;
  display: block;
  width: 150px;
  height: 150px;
  position: relative;
  margin: 20px auto 0 auto;
}
.go-top {
  background-position: 0 -40px;
  position: fixed;
  width: 40px;
  height: 20px;
  bottom: 240px;
  right: 50px;
  display: none;
}

/*#footer*/
.footer {
  width: 100%;
  padding: 20px;
  background: #211B1B;
  color: #D3CFB4;
  /*height: 150px;*/
  margin-top: 150px;
}
.footer-content {
  text-align: center;
}
.footer-sponsors {
  padding: 20px 0;
  background: #D3CFB4;
  color: #211B1B;
  font-weight: bold;
  width: 70%;
  /*display: inline-block;*/
  margin: 0 auto;
  text-align: center;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.footer-sponsors-link {
  display: inline-block;
  padding: 20px 60px;
  vertical-align: middle;
}
