/* Typography */
.blog-post-title {
  font-size: 42px;
}
.blog-post-title-small {
  font-size: 21px;
}
.blog-post-page .header-pages-title {
  display: none !important;
}
.blog-container h4 {
  border-bottom: 2px solid #211B1B;
}
.blog-container .title {
  color: #444;
  text-decoration: none;
}
.blog-container p {
  font-size: 18px;
}
.blog-post-aside p {
  font-size: 14px;
  line-height: 1.2;
}

/* Content */
.content-blog-post {
  background: #fff;
  margin: 50px auto;
}
.content-blog-post .content-inside {
  max-width: 750px;
  font-size: 20px;
  line-height: 1.5;
  padding: 20px;
}
.blog-container {
  background: #fff;
  padding: 20px;
}
.blog-post-item {
  margin-bottom: 60px;
}
.blog-post-date {
  color: #444;
  font-size: 14px;
  font-weight: normal;
}
.blog-post-content-item {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
