/* #Forms */
a.btn,
.btn {
  background: #20AD65;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}
a.btn:hover {
  background: #055A5B;
}
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
