@media only screen and (min-width:820px){
  /*Navegation*/
  .mobile {
    display: none;
  }
  .site-header {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
  }
  .logo {
    background: url("/img/logo.png") no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 150px;
    height: 150px;
    position: absolute;
    margin: -57px auto 0 auto;
  }
  /* Navegation */
  .header-navegation {
    margin-top: 100px;
  }
  .navegation-link-content {
    max-width: 1024px;
    background: #D3CFB4;
    padding-left: 40px;
    margin: 0 auto 0 130px;
  }
  .content {
    max-width: 1024px;
  }
  .content-inside {
    margin: 100px auto;
    padding: 20px;
  }
  .content-inside-box {
    margin: 20px;
  }
  /* Flexbox */
  .container-flex {
    position: relative;
  }
  .container-flex-content {
    display: inline-block;
    width: 59%;
  }
  .container-flex-aside {
    display: inline-block;
    width: 40%;
  }
}

@media only screen and (max-width:820px){
  /*Navegation*/
  .desktop {
    display: none;
  }
}
