@media only screen and (min-width:820px){
  /*Navegation*/
  .mobile {
    display: none;
  }
  .site-header {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
  }
  .logo {
    background: url("{{site.baseurl}}/img/logo.png") no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 150px;
    height: 150px;
    position: absolute;
    margin: -57px auto 0 auto;
  }
  /* Navegation */
  .header-navegation {
    margin-top: 100px;
    padding: 0;
  }
  .navegation-link-content {
    display: block;
    max-width: 1024px;
    background: #D3CFB4;
    padding-left: 40px;
    margin: 0 auto 0 130px;
  }
  .navegation-link {
    padding: 0 10px;
    display: inline-block;
    text-align: left;
  }
  .content {
    max-width: 1024px;
  }
  .content-inside {
    margin: 100px auto;
    padding: 20px;
    position: relative;
  }
  .content-inside-box {
    margin: 0 20px;
  }
  /* Flexbox */
  .container-flex {
    position: relative;
  }
  .container-flex-content {
    vertical-align: top;
    display: inline-block;
    width: 59%;
  }
  .container-flex-aside {
    vertical-align: top;
    display: inline-block;
    width: 40%;
  }
  .flex-content  {
    flex-direction: row;
   }
   /*flex end*/
  .content-inside-box-full {
    margin: 0 0 50px 0;
  }
  .content-inside-box-full--content {
    padding: 10px 80px;
    font-size: 18px;
    vertical-align: top;
  }
  .container-flex-content--facebook {
    width: 40%;
  }
  .content-inside-box-padding-left-right {
    padding: 0 80px;
  }

  /*fotos*/
  .content-fotos-item {
    min-width: 25%;
    flex-grow: 1;
    margin: 20px;
  }
  .content-fotos-item--photos {
    min-width: 15%;
    flex: 15%;
    flex-grow: 1;
  }

  /* #blog*/
  .blog-container {
    background: #fff;
    padding: 40px 80px;
  }
  .blog-post-while {
    width: 60%;
    margin-right: 30px;
  }
  .blog-post-aside {
    width: 34%;
    border-left: 1px solid #f4f4f4;
    padding-left: 30px;
  }
}

@media only screen and (max-width:820px){
  /*Navegation*/
  .desktop {
    display: none;
  }
  .flag-comemoracao {
    top: 0;
    background: url(/img/flag-comemoracao.png);
    background: url(/img/flag-comemoracao.svg);
    background-size: 100%;
    position: relative;
    width: 358px;
    height: 66px;
    z-index: 20;
    display: block;
    margin: 30px auto;
  }
  .footer-sponsors {
    width: 100%;
  }
}
