{% include head.html %}
  <body class="blog-post-page">
    {% include header_page.html %}
    <style>
      {% include css/blog.css %}
    </style>
    <div class="content content-blog-post round-corner">
      <div class="content-inside">
        <a class="back-blog" href="/blog">← Voltar</a>
        <h2 class="blog-post-title">
          {{page.title}}
          <time class="blog-post-date">{{ page.date | date_to_string | replace:"Jan","Jan" | replace:"Feb","Fev" | replace:"Mar","Mar" | replace:"Apr","Abr" | replace:"May","Mai" | replace:"Jun","Jun" | replace:"Jul","Jul" | replace:"Aug","Ago" | replace:"Sep","Set" | replace:"Oct","Out" | replace:"Nov","Nov" | replace:"Dec","Dez"}}</time>
        </h2>
        {{ content }}
      </div>
    </div>
    {% include footer.md %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/lightbox.js"></script>
  </body>
</html>
